//COLOR PALETTE
$wrapper-bg: #dae2ef;
$black: #000;
$white: #fff;
$progress: #099104;
$highlight: #edb80b;


//MARGINS
$center-item: 0 auto;


//FONT STACKS
$h1-font: 'Source Sans Pro', sans-serif;
$body-font: 'Oxygen', sans-serif;


//FONT SIZES
$header: 3em;
$paragraph: 1em;


//TYPOGRAPHY
$line-height: 1.7em;


//MEDIA QUERIES